{% load staticfiles %}


<!DOCTYPE html>

<html lang = "en">

    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Test Post</a></h2>
            <p>Test post to check if file has been uploaded and text has changed.</p>
        </div>

        <div>
            {{ posts }}
        </div>
    </body>
</html>